*{
	font-family: "PingFang SC","Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	font-size: 0.3rem;
	color: #333333;
}
body{
	background-color: #ededed;
}
.xianzhi_div{
	width: 5rem;
	height: 8.7rem;
	background-color: #ffffff;
	margin: 0 auto;
	margin-top: 0.6rem;
	box-shadow:0 13px 42px -11px #000;
}
.top_01{
	text-align: center;
	margin-top: 0.36rem;
}
.border_01,.border_02{
	border-top: 1px solid #d3d3d3;
	margin-top: 0.15rem;
}
.pro_img{
	margin-top: 0.2rem;
}
.pro_img img{
	max-width: 4.6rem;
	max-height: 6.3rem;
	margin: 0 auto;
}
.but_div{
	margin-top: 0.6rem;
}
.pick_but{
	margin: 0 auto;
	width: 85%;
	background-color: #333333;
	text-align: center;
	padding: 0.2rem 0;
}
.pick_but p{
	color: #ffffff;
	font-size: 0.28rem;
}
/*移动端适配 width|height|font-size = 视觉稿量出来的值 / 100rem;@lbl*/
@media screen and (max-width:359px) and (min-width:320px) {
    html,body{
        font-size: 50px !important;
    }
}
@media screen and (max-width:374px) and (min-width:360px) {
    html,body{
        font-size: 56.25px !important;
    }
}
@media screen and (max-width:413px) and (min-width:375px) {
   html,body{
        font-size: 58.5px !important;
    }
}
@media screen and (max-width:639px)  and (min-width:414px){
   html,body{
        font-size: 64.6px !important;
    }
}
@media screen and (min-width:640px) {
   html,body{
        font-size: 100px !important;
    }
}