/*后台公用样式*/
/*@author 321870617@qq.com*/


.login .login-title {max-width: 450px;margin: 0px auto;position: relative;
    background: #0b4284;color: #FFFFFF;text-align: center;font-size: 32px;padding:8px 16px;margin-top: 160px;font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif}
.login .login-form {max-width: 410px;margin: 0px auto;position: relative;color: #393D49;
    border:1px solid #dddddd;background: #ffffff;padding: 35px;}
.login .login-form .captcha {width: 120px;height: 38px;}
.login .login-form input {background-color: rgba(255, 255, 255, 0.3);border: 1px solid #dddddd;color: #000000;font-weight: 400}
.login .login-form button {width: 100%;background-color: #0b4284;}
.copyright {text-align: center;margin-top: 20px;color: inherit;}
.copyright a{color: #ffffff;font-weight: 100}
.logo {margin-top: 25px;margin-left: 25px;}

.header {background-color: #393D49;}

.footer {line-height: 44px;}

.layui-body {left: 210px;}
.layui-side {top: 60px;}
.layui-table tbody tr:hover {background-color: #f2f2f2;}
.layui-tab {overflow: visible;}
.layui-tab-title > li > a {display: block;}
.layui-btn-normal {background: #4caf50;}
.layui-btn-danger {background: #e90d24;}
.layui-nav-tree .layui-nav-child dd a {text-indent: 16px;}
.login-form .layui-form-label {width: 50px;}
.form-container {max-width: 800px;}
.login-form .layui-input-block{margin-left: 90px}

/*分页*/
.pagination {}
.pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
.pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
.pagination li a {display: block;text-align: center;}

.photo-list {margin: 5px 0;}

/*超链接*/
.info{color:darkred;}
.info:hover{color: dodgerblue;}